@model IEnumerable<WebClientMedecin.ModelView.ConsultationView>

@{
    ViewBag.Title = "GetAllConsultationForMedecin";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h2>Mes consultations</h2>

<br />

<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            Patient
        </th>
        <th>
            Maison médicale (local)
        </th>
        <th>
            Specialite
        </th>
        <th>
            Date
        </th>
        <th>
            Plage horaire
        </th>
        <th>
            Confirmé ?
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Consultation.Consultation_ID)
            </td>
            <td>
                @item.Patient.Firstname @item.Patient.Lastname
            </td>
            <td>
                @item.MaisonMedicale.Name (local : @item.Local.Name)
            </td>
            <td>
                @item.Specialite.Name
            </td>
            <td>
                @item.Consultation.Starting.ToString("dd/MM/yyyy")
            </td>
            <td>
                @item.Consultation.Starting.ToString("hh:mm") - @item.Consultation.Ending.ToString("hh:mm")
            </td>
            <td style="text-align:center;">
                @Html.DisplayFor(modelItem => item.Consultation.IsConfirmed)
            </td>
            <td>
               @if (!item.Consultation.IsConfirmed)
                {
                    <div class="col-md-offset-2 col-md-10">
                        <input type="hidden" id="consultationData_@item.Consultation.Consultation_ID" value="@Json.Encode(item.Consultation)" />
                        <input type="button" value="Confirmer" onclick="confirmConsultation('@item.Consultation.Consultation_ID')" class="btn btn-default" />
                    </div>
                } 
            </td>
        </tr>
    }
</table>

<script>

    function confirmConsultation(consultation_ID) {
        console.log(consultation_ID);

        var consData = $("#consultationData_" + consultation_ID).val();

        console.log(consData);

        var cons = JSON.parse(consData);

        console.log(cons);

        cons.IsConfirmed = true;

        $.post("https://localhost:44307/api/Consultation/ConfirmConsultation/", cons)
            .done(function (data) {
                window.location.replace("https://localhost:44349/Medecin/GetAllConsultationForMedecin/" + @ViewBag.Medecin_ID);
            });
    }

</script>
