@model IEnumerable<Models.Patient>

@{
    ViewBag.Title = "GetAllPatient";
}

<br />
<h2>Sélectionner un patient</h2>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Patient_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lastname)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Patient_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                <button type="button" class="btn btn-primary" onclick="location.href='/Patient/GetAllConsultationForPatient/@Html.DisplayFor(modelItem => item.Patient_ID)';">Choisir patient</button>
            </td>
        </tr>
    }

</table>
