@model IEnumerable<WebClientPatient.ModelView.ConsultationView>

@{
    ViewBag.Title = "GetAllConsultationForPatient";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h2>Mes consultations</h2>

<p>
    <a href="/Patient/AddConsultationForPatient/@ViewBag.Patient_ID">Ajouter une nouvelle consultation</a>
</p>

<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            Medecin
        </th>
        <th>
            Maison médicale (local)
        </th>
        <th>
            Specialite
        </th>
        <th>
            Date
        </th>
        <th>
            Plage horaire
        </th>
        <th>
            Confirmé ?
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Consultation_ID)
            </td>
            <td>
                @item.Medecin.Firstname @item.Medecin.Lastname
            </td>
            <td>
                @item.MaisonMedicale.Name (local : @item.Local_ID)
            </td>
            <td>
                @item.Specialite.Name
            </td>
            <td>
                @item.Starting.ToString("dd/MM/yyyy")
            </td>
            <td>
                @item.Starting.ToString("hh:mm") - @item.Ending.ToString("hh:mm")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsConfirmed)
            </td>
            <td>
                <a href="/Patient/EditConsultation/@item.Consultation_ID">Modifier</a> |
                <a href="/Patient/DeleteConsultation/@item.Consultation_ID">Supprimer</a>
            </td>
        </tr>
    }

</table>
