@model IEnumerable<Models.Consultation>

@{
    ViewBag.Title = "GetConsultationForPatient";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h2>Mes consultations</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Consultation_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Patient_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MedecinSpecialiteMaisonMedicale_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Local_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Starting)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ending)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsConfirmed)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Consultation_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Patient_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MedecinSpecialiteMaisonMedicale_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Local_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Starting)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ending)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsConfirmed)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
